﻿.navbar-custom {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.13);
}

.navbar-image {
    width: 250px;
    height: 70px;
}

.ml-auto {
    margin-left: auto;

}

.mr-8 {
    margin-right: 2rem; 
}

.nav-item {
    margin-right: 2rem;
    font-size: 1.1rem; 
    font-weight: 100; 
}

.ml-10 {
    margin-left: 2.5rem;
}


.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #ffd800;
}

.footer-paragraph  {
    color: whitesmoke; 
    font-size: 1rem;
    font-weight: 500;
}

#footer1 {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.13);
    background: #E6E6F9;
    padding: 1rem 0 0.5rem;
    font-weight: 500;
}

#footer2 {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    padding-top: 0.5rem;
}


