﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Boovie.Master" AutoEventWireup="true" CodeBehind="signup.aspx.cs" Inherits="BoovieStore.signup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>
        Sign up page content
    </h1>
</asp:Content>
