﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Boovie.Master" AutoEventWireup="true" CodeBehind="usersignup.aspx.cs" Inherits="BoovieStore.usersignup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
